@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

h1, h2, h4, h5, h6 {
    margin: 0;
    padding-left: 10px;
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 24px;
    line-height: 24px;
  }

h3{
    margin: 0;
    padding-left: 10px;
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 18px;
    line-height: 24px;
}

body {
    background-size: cover;
    background-image: url('/images/background.jpg');
}