/* style.css */
.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  align-items: center;
  gap: 20px;
  background-color: rgb(235, 235, 235);
  flex-shrink: 1;
  max-width: 800px;
  border-radius:4em;
}

/* Flexbox container for form */
.rsvpFormContainer {
  display: flex;
  gap: 10px;
}

/* Styles for RSVP inputs and button */
.rsvpInput, .rsvpSubmit {
  padding: 5px;
  margin: 0 5px;
}

.textArea {
  text-align: center;
  margin: 20px 0;
}

.registryItemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.registryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  gap: 10px;
}

.regInput, .regSubmit {
  padding: 10px;
  margin: 0 5px;
}

.itemImage {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.itemLink, .itemName {
  flex-grow: 1;
  margin: 0 10px;
}

/* Styles for when an item is purchased */
.grayout {
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none; /* disables interactions */
}

/* For purchased items */
.purchasedForm {
  display: none;
}
